html,
body {
  margin: 0;
  padding: 0;
  position: relative;
}

.album {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.album__cover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  width: 280px;
  height: 280px;
}

@media screen and (min-width: 900px) {
  .album__cover {
    width: 400px;
    height: 400px;
  }
}

.album__icons {
  list-style: none;

  display: flex;
  flex-direction: colum;
  margin: 20px 0 0 0;
  padding: 0;
}

.album__icon {
  margin: 0 5px;
  width: 40px;
  height: 40px;
}

.album__icon__link {
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: block;
  opacity: 0.4;
  width: 100%;
  height: 100%;

  transition: opacity 0.35s ease-in-out;
}

.album__icon__link:hover {
  opacity: 0.8;
}

.album__icon__link--instagram {
  background-image: url("icons/_ionicons_svg_logo-instagram.svg")
}

.album__icon__link--soundcloud {
  background-image: url("icons/icon-soundcloud.svg")
}

.album__icon__link--website {
  background-image: url("icons/icon-link.svg")
}

.album__icon__link--youtube {
  background-image: url("icons/_ionicons_svg_logo-youtube.svg")
}

.footer {
  color: #004451;
  font-family: sans-serif;
  font-size: 14px;
  text-align: center;

  background-color: #122a2a;
  padding: 20px;
}

.section--antarctica {
  background: linear-gradient(-135deg, #243A3D, #5E7E85);
}

.section--runrun {
  background-image: url("images/runrun-background.jpeg");
  background-position: center;
  background-size: cover;
}

.section--fullscreen {
  min-width: 100%;
  min-width: 100vw;
  min-height: 100%;
  min-height: 100vh;
}

.soundcloud {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  width: 280px;
  height: 280px;
}

@media screen and (min-width: 900px) {
  .soundcloud {
    width: 400px;
    height: 400px;
  }
}